/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Footer
:: Library
:: Group
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
  font-size: 62.5%;
  font-family: 'Open Sans', 'Arial', sans-serif;
  line-height: 150%;
  color: #555555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', "Helvetica", sans-serif;
  color: #555555;
}

.center {
  text-align: center;
}

.row {
  width: 100%;
}

.right {
  text-align: right;
}

.container {
  width: 1400px;
  padding: 0 20px;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.container a {
  text-decoration: underline;
}

.label {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
}

.orange {
  background-color: orange;
}

/* -----------------------------------------
   Login
----------------------------------------- */
#account-form {
  margin: 20px auto;
  text-align: center;
  width: 500px;
}

#account-form h1 {
  font-size: 56px;
}

#account-form h2 {
  font-size: 32px;
}



/* -----------------------------------------
   Footer
----------------------------------------- */

#sticky-panel {
  position: fixed;
  bottom: 0px;
  height: 200px;
  width: 100%;
  background-color: #000000;
  opacity: 0.9;
  padding: 20px;
  filter: alpha(opacity=90); /* IE8 Opacity */
}

#sticky-panel img {
  border: solid 4px white;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.panel-skill {
  background-color: #FFFFFF;
}

.panel-title {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

#footer {
  height: 200px;
}

/* -----------------------------------------
   Library
----------------------------------------- */
.library-img {
  margin-bottom: 15px;
}

.library-label {
  display: block;
  margin-bottom: 15px;
}

.library-label a {
  text-decoration: none;
}

.library-title {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 15px;
}

.library-row-spacer {
  display: block;
  margin-bottom: 60px;
}

a.button {
  text-decoration: none;
}



/* -----------------------------------------
   Group
----------------------------------------- */
.skill {
  padding: 5px;
  width: 300px;
}

.inner-skill {
  border: 1px solid #AAAAAA;
}

.skill-user {
  padding: 15px 15px 15px 0px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #AAAAAA;
  font-size: 24px;
  color: #555555;
}

.skill-user img {
  vertical-align: middle;
}

.skill-info {
  padding: 15px;
}

.inner-skill h5 {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #DDDDDD;
}

ul.group-action-steps {
  margin: 0;
  list-style: none;
}

ul.group-action-steps li {
  position: relative;
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px solid #DDDDDD;
}

ul.group-nudges {
  margin: 0;
  list-style: none;
}

ul.group-nudges li {
  font-size: 18px;
  border-bottom: 0px;
  padding-bottom: 0px;
}

ul.group-activity {
  margin: 0;
  list-style: none;
}

ul.group-activity li {
  position: relative;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #DDDDDD;
}

.inner-skill .button {
  right: 0;
}

.change-status {
  margin-top: 10px;
}

.date {
  margin-top: 5px;
  color: #888888;
  text-align: right;
}

.add-action-step {
  float: right;
}

/* -----------------------------------------
   Action Step Modal
----------------------------------------- */
#action-step-modal h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}

#action-steps-in-modal {
  margin: 0;
  list-style: none;
}

#action-steps-in-modal li {
  cursor: pointer;
  font-size: 24px;
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
  padding: 10px;
  margin-bottom: 10px;
}

#action-steps-in-modal li span {
  cursor: pointer;
  font-weight: normal;
}